html {
    background-color: whitesmoke;
}

.big-box {
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

#button {
    margin-left: 30%;
    padding: 10px;
    background-color: whitesmoke;
    color: black;
    border: solid;
    border-color: black;
}

label {
    font-size: 24px;
}

#password {
    max-width: 60%;
    overflow: scroll;
}
