html {
    background-color: whitesmoke;
}

.big-box {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#button {
    font-size: 20px;
    margin-top: 2%;
    padding: 1%;
    background-color: whitesmoke;
    color: black;
    border: solid;
    border-color: black;
}

h3{
    padding-bottom: 5%;
}

label {
    font-size: 24px;
}

#password {
    max-width: 60%;
    overflow: scroll;
}
